<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    hello,java1809
    ID:<span>1</span>
    name:<span>超强电风扇</span>
    //Use ?date, ?time, or ?datetime to tell FreeMarker the exact type.
    birthday:<span>2019-3-15</span>
    birthday:<span>14:44:13</span>
    birthday:<span>2019-3-15 14:44:13</span>

    <table>
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>BIRTHDAY</td>
        </tr>
            <tr>
                <td>1</td>
                <td>超强电风扇</td>
                <td>2019-3-15</td>
            </tr>
            <tr>
                <td>2</td>
                <td>超强电冰箱</td>
                <td>2019-3-15</td>
            </tr>
    </table>

          小鲜肉

    
    没有错误消息提示
</body>
</html>